version: "3.8"
services:
  backend:
    build: .
    container_name: backend
    restart: always
    ports:
      - "3006:3006"
    environment:
      NODE_ENV: production
      PORT: 3006
    volumes:
      - ./logs:/app/logs
      - ./node_modules:/app/node_modules
