name: Deploy to AUTO

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Deploy to EC2
        uses: appleboy/ssh-action@v0.1.8
        with:
          host: 13.126.72.177
          username: sayim
          key: ${{ secrets.SERVER_SSH_KEY }}
          port: 22
          timeout: 60s
          command_timeout: 15m
          script: |
            echo "==== Deploying Frontend ===="
            cd /home/sayim/apps/frontend
            git reset --hard
            git pull origin main
            npm install
            npm run build
            pm2 restart frontend || pm2 start npm --name "frontend" -- run start

            echo "==== Deploying Backend ===="
            cd /home/sayim/apps/backend
            git reset --hard
            git pull origin main
            npm install
            pm2 restart backend || pm2 start npm --name "backend" -- run start

            echo "==== Deployment Completed Successfully ===="
