name: Deploy to EC2

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Deploy Backend (Docker)
        uses: appleboy/ssh-action@v0.1.8
        with:
          host: 13.126.72.177
          username: sayim
          key: ${{ secrets.SERVER_SSH_KEY }}
          port: 22
          timeout: 120s
          command_timeout: 15m
          script: |
            set -e
            cd /home/sayim/apps/backend
            git fetch origin
            git reset --hard origin/main
            docker compose up -d --build
