name: Test SSH

on: [push]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Test SSH Connection
        uses: appleboy/ssh-action@v0.1.8
        with:
          host: 13.126.72.177
          username: sayim
          key: ${{ secrets.SERVER_SSH_KEY }}
          port: 22
          script: |
            echo "SSH connection successful"
