name: Test SSH

on:
  push:
    branches:
      - main

jobs:
  ssh-test:
    runs-on: ubuntu-latest
    steps:
      - name: SSH Test
        uses: appleboy/ssh-action@v0.1.8
        with:
          host: 13.126.72.177
          username: sayim
          key: ${{ secrets.SERVER_SSH_KEY }}
          port: 22
          timeout: 30s
          command_timeout: 2m
          script: |
            echo "SSH connection successful"
